body,html {
  font-family: 'Prompt', sans-serif;
  height: 100%;
  margin: 0;
  background: url("../img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffff;
}
.big-font{
  font-size: 2.5rem
}
.btn-pastel-1{
  background-color: #e2b0ff;
}
.btn-pastel-2{
  background-color: #fff2a7;
}
.btn-pastel-3{
  background-color: #ffa9d0;
}
.btn-pastel-4{
  background-color: #94b7e7;
}
.btn-pastel-1:hover, .btn-pastel-2:hover, .btn-pastel-3:hover, .btn-pastel-4:hover{
  background-color: #ff8585;
}



/* Chat Style of Helper Health System */
.dialog-flow-frame{
  border: none;
}
.chat-btn{
  position: fixed;
  right: 0;
  bottom: 0;
  height: 5vh;
  background-color: #2b303e;
  border-radius: 2px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: .5s;
  border:none;
  padding: 0;
  margin: 5px;
  font: inherit;
  cursor: pointer;
  outline: none;
}
.chat-btn:focus{
  outline: none;
}
.chat-btn-active{
  bottom: 65vh;
  height: 5vh;
  border-radius: 2px 2px 0 0;
}
.chat-welcome{
  line-height: 5vh;
}
.chat-welcome {
  text-align: center;
}
.chat-welcome span {
  color: #fff;
}
.chat-welcome i {
  color: #fff;
}
.chat-box{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 5vh;
  background-color: #fff;
  border-radius: 2px;
  transition-timing-function: ease-in;
  transition: .5s;
  margin: 5px;
  padding: 0;
  border: 1px solid #2b303e;
}
.chat-box-active{
  border-radius: 0 0 2px 2px;
  padding: 0;
  height: 65vh;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="chat-box-active"] {
    height: 90vh;
    margin: 0;
  }
  [class*="chat-box"] {
    margin: 0;
  }
  [class*="chat-btn-active"] {
    bottom : 90vh;
    margin: 0;
  }
  [class*="chat-btn"] {
    margin: 0;
    height: 10vh;
  }
  [class*="chat-welcome"] {
    line-height: 10vh;
  }
}
/* End Chat Style of Helper Health System */