body,html {
  font-family: 'Prompt', sans-serif;
  height: 100%;
  margin: 0;
  background: url("../img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffff;
}
.big-font{
  font-size: 2.5rem
}
.btn-pastel-1{
  background-color: #e2b0ff;
}
.btn-pastel-2{
  background-color: #fff2a7;
}
.btn-pastel-3{
  background-color: #ffa9d0;
}
.btn-pastel-4{
  background-color: #94b7e7;
}
.btn-pastel-1:hover, .btn-pastel-2:hover, .btn-pastel-3:hover, .btn-pastel-4:hover{
  background-color: #ff8585;
}